includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    paths:
        - Classes
        - Configuration
        - Tests
