includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
    - .Build/vendor/phpstan/phpstan-phpunit/extension.neon
    - .Build/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    phpVersion: 80400
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    checkMissingOverrideMethodAttribute: true
    paths:
        - Classes
        - Configuration
        - Tests
